export(
"generate.ff.data",
"get.ff.coeffs", 
"getPCA", 
"getPCA.test", 
"plot_ff_coeffs", 
"predict_ff_regression", 
"rob.ff.reg", 
"rob.out.detect",
"generate.sf.data",
"get.sf.coeffs",
"plot_sf_coeffs",
"predict_sf_regression",
"rob.sf.reg",
"predict_sffr2SLS",
"sff_dgp",
"sffr_pen2SLS",
"fpqr_dgp",
"fpqr",
"predict_fpqr"
)

import(fda)
import(MASS)
import(robustbase)

importFrom("graphics", "legend", "lines")
importFrom("stats", ".getXlevels", "cov", "cov.wt", "dchisq",
             "integrate", "mahalanobis", "median", "model.matrix",
             "na.omit", "pchisq", "pnorm", "qchisq", "quantile", "rnorm",
             "runif", "terms")
importFrom("utils", "combn")
importFrom("fda.usc", "Adot")
importFrom("fda.usc", "fdata")
importFrom("fda.usc", "depth.mode")
importFrom("goffda", "r_ou")
importFrom("pcaPP", "l1median")
importFrom("pcaPP", "PCAproj")
importFrom("pcaPP", "covPCAproj")
importFrom("fields", "image.plot")
importFrom("expm", "sqrtm")
importFrom("mvtnorm", "rmvnorm")
importFrom("fda.usc", "inprod.fdata")
importFrom("methods", "as")
importFrom("Matrix", "bdiag")
importFrom("stats", "rchisq", "rt", "var")
importFrom("cvTools", "cvFolds")
importFrom("quantreg", "rq")

